/resources/
.settings/
/target/
.classpath
.project
src/main/resources/WordNet-3.0/src/wnb
src/main/resources/WordNet-3.0/include/Makefile
src/main/resources/WordNet-3.0/doc/ps/wnutil.3.ps
src/main/resources/WordNet-3.0/doc/ps/wnstats.7.ps
src/main/resources/WordNet-3.0/doc/ps/wnsearch.3.ps
src/main/resources/WordNet-3.0/doc/ps/wnpkgs.7.ps
src/main/resources/WordNet-3.0/doc/ps/wnlicens.7.ps
src/main/resources/WordNet-3.0/doc/ps/wnintro.7.ps
src/main/resources/WordNet-3.0/doc/ps/wnintro.5.ps
src/main/resources/WordNet-3.0/doc/ps/wnintro.3.ps
src/main/resources/WordNet-3.0/doc/ps/wnintro.1.ps
src/main/resources/WordNet-3.0/doc/ps/wninput.5.ps
src/main/resources/WordNet-3.0/doc/ps/wngroups.7.ps
src/main/resources/WordNet-3.0/doc/ps/wngloss.7.ps
src/main/resources/WordNet-3.0/doc/ps/wndb.5.ps
src/main/resources/WordNet-3.0/doc/ps/wnb.1.ps
src/main/resources/WordNet-3.0/doc/ps/wn.1.ps
src/main/resources/WordNet-3.0/doc/man/wninput.5
src/main/resources/WordNet-3.0/dict/verb.exc
src/main/resources/WordNet-3.0/dict/verb.Framestext
src/main/resources/WordNet-3.0/dict/sents.vrb
src/main/resources/WordNet-3.0/dict/sentidx.vrb
src/main/resources/WordNet-3.0/dict/noun.exc
src/main/resources/WordNet-3.0/dict/log.grind.3.0
src/main/resources/WordNet-3.0/dict/lexnames
src/main/resources/WordNet-3.0/dict/index.verb
src/main/resources/WordNet-3.0/dict/index.sense
src/main/resources/WordNet-3.0/dict/index.noun
src/main/resources/WordNet-3.0/dict/index.adv
src/main/resources/WordNet-3.0/dict/index.adj
src/main/resources/WordNet-3.0/dict/frames.vrb
src/main/resources/WordNet-3.0/dict/data.verb
src/main/resources/WordNet-3.0/dict/data.noun
src/main/resources/WordNet-3.0/dict/data.adv
src/main/resources/WordNet-3.0/dict/data.adj
src/main/resources/WordNet-3.0/dict/cntlist.rev
src/main/resources/WordNet-3.0/dict/cntlist
src/main/resources/WordNet-3.0/dict/adv.exc
src/main/resources/WordNet-3.0/dict/adj.exc
src/main/resources/WordNet-3.0/dict/Makefile.in
src/main/resources/WordNet-3.0/dict/Makefile.am
src/main/resources/WordNet-3.0/dict/Makefile
src/main/resources/WordNet-3.0/depcomp
src/main/resources/WordNet-3.0/configure.ac
src/main/resources/WordNet-3.0/configure
src/main/resources/WordNet-3.0/config.h.in
src/main/resources/WordNet-3.0/compile
src/main/resources/WordNet-3.0/aclocal.m4
src/main/resources/WordNet-3.0/acinclude.m4
src/main/resources/WordNet-3.0/README
src/main/resources/WordNet-3.0/NEWS
src/main/resources/WordNet-3.0/Makefile.in
src/main/resources/WordNet-3.0/Makefile.am
src/main/resources/WordNet-3.0/LICENSE
src/main/resources/WordNet-3.0/INSTALL
src/main/resources/WordNet-3.0/ChangeLog
src/main/resources/WordNet-3.0/COPYING
src/main/resources/WordNet-3.0/AUTHORS
src/main/resources/WordNet-3.0/lib/search.c
src/main/resources/WordNet-3.0/lib/morph.c
src/main/resources/WordNet-3.0/lib/binsrch.c
src/main/resources/WordNet-3.0/lib/Makefile.in
src/main/resources/WordNet-3.0/lib/Makefile.am
src/main/resources/WordNet-3.0/install-sh
src/main/resources/WordNet-3.0/include/wngrind.h
src/main/resources/WordNet-3.0/include/wn.h~
src/main/resources/WordNet-3.0/include/wn.h
src/main/resources/WordNet-3.0/include/tk/tkDecls.h
src/main/resources/WordNet-3.0/include/tk/tk.h
src/main/resources/WordNet-3.0/include/tk/Makefile.in
src/main/resources/WordNet-3.0/include/tk/Makefile.am
src/main/resources/WordNet-3.0/include/tk/Makefile
src/main/resources/WordNet-3.0/include/Makefile.in
src/main/resources/WordNet-3.0/include/Makefile.am
src/main/resources/WordNet-3.0/doc/ps/uniqbeg.7.ps
src/main/resources/WordNet-3.0/doc/ps/senseidx.5.ps
src/main/resources/WordNet-3.0/doc/ps/prologdb.5.ps
src/main/resources/WordNet-3.0/doc/ps/morphy.7.ps
src/main/resources/WordNet-3.0/doc/ps/morph.3.ps
src/main/resources/WordNet-3.0/doc/ps/lexnames.5.ps
src/main/resources/WordNet-3.0/doc/ps/grind.1.ps
src/main/resources/WordNet-3.0/doc/ps/cntlist.5.ps
src/main/resources/WordNet-3.0/doc/ps/binsrch.3.ps
src/main/resources/WordNet-3.0/doc/ps/Makefile.in
src/main/resources/WordNet-3.0/doc/ps/Makefile.am
src/main/resources/WordNet-3.0/doc/ps/Makefile
src/main/resources/WordNet-3.0/doc/pdf/wnutil.3.pdf
src/main/resources/WordNet-3.0/doc/pdf/wnstats.7.pdf
src/main/resources/WordNet-3.0/doc/pdf/wnsearch.3.pdf
src/main/resources/WordNet-3.0/doc/pdf/wnpkgs.7.pdf
src/main/resources/WordNet-3.0/doc/pdf/wnlicens.7.pdf
src/main/resources/WordNet-3.0/doc/pdf/wnintro.7.pdf
src/main/resources/WordNet-3.0/doc/pdf/wnintro.5.pdf
src/main/resources/WordNet-3.0/doc/pdf/wnintro.3.pdf
src/main/resources/WordNet-3.0/doc/pdf/wnintro.1.pdf
src/main/resources/WordNet-3.0/doc/pdf/wninput.5.pdf
src/main/resources/WordNet-3.0/doc/pdf/wngroups.7.pdf
src/main/resources/WordNet-3.0/doc/pdf/wngloss.7.pdf
src/main/resources/WordNet-3.0/doc/pdf/wndb.5.pdf
src/main/resources/WordNet-3.0/doc/pdf/wnb.1.pdf
src/main/resources/WordNet-3.0/doc/pdf/wn.1.pdf
src/main/resources/WordNet-3.0/doc/pdf/uniqbeg.7.pdf
src/main/resources/WordNet-3.0/doc/pdf/senseidx.5.pdf
src/main/resources/WordNet-3.0/doc/pdf/prologdb.5.pdf
src/main/resources/WordNet-3.0/doc/pdf/morphy.7.pdf
src/main/resources/WordNet-3.0/doc/pdf/morph.3.pdf
src/main/resources/WordNet-3.0/doc/pdf/lexnames.5.pdf
src/main/resources/WordNet-3.0/doc/pdf/grind.1.pdf
src/main/resources/WordNet-3.0/doc/pdf/cntlist.5.pdf
src/main/resources/WordNet-3.0/doc/pdf/binsrch.3.pdf
src/main/resources/WordNet-3.0/doc/pdf/Makefile.in
src/main/resources/WordNet-3.0/doc/pdf/Makefile.am
src/main/resources/WordNet-3.0/doc/pdf/Makefile
src/main/resources/WordNet-3.0/doc/man/wnutil.3
src/main/resources/WordNet-3.0/doc/man/wnstats.7
src/main/resources/WordNet-3.0/doc/man/wnsearch.3
src/main/resources/WordNet-3.0/doc/man/wnpkgs.7
src/main/resources/WordNet-3.0/doc/man/wnlicens.7
src/main/resources/WordNet-3.0/doc/man/wnintro.7
src/main/resources/WordNet-3.0/doc/man/wnintro.5
src/main/resources/WordNet-3.0/doc/man/wnintro.3
src/main/resources/WordNet-3.0/doc/man/wnintro.1
src/main/resources/WordNet-3.0/src/wn.c
src/main/resources/WordNet-3.0/src/tkAppInit.c
src/main/resources/WordNet-3.0/src/stubs.c
src/main/resources/WordNet-3.0/src/Makefile.in
src/main/resources/WordNet-3.0/src/Makefile.am
src/main/resources/WordNet-3.0/missing
src/main/resources/WordNet-3.0/lib/wnutil.c
src/main/resources/WordNet-3.0/lib/wnrtl.c
src/main/resources/WordNet-3.0/lib/wnres/wngloss.man
src/main/resources/WordNet-3.0/lib/wnres/wnb.man
src/main/resources/WordNet-3.0/lib/wnres/wn.xbm
src/main/resources/WordNet-3.0/lib/wnres/license.txt
src/main/resources/WordNet-3.0/lib/wnres/Makefile.in
src/main/resources/WordNet-3.0/lib/wnres/Makefile.am
src/main/resources/WordNet-3.0/lib/wnhelp.c
src/main/resources/WordNet-3.0/lib/wnglobal.c
src/main/resources/WordNet-3.0/doc/man/wngroups.7
src/main/resources/WordNet-3.0/doc/man/wngloss.7
src/main/resources/WordNet-3.0/doc/man/wndb.5
src/main/resources/WordNet-3.0/doc/man/wnb.1
src/main/resources/WordNet-3.0/doc/man/wn.1
src/main/resources/WordNet-3.0/doc/man/uniqbeg.7
src/main/resources/WordNet-3.0/doc/man/senseidx.5
src/main/resources/WordNet-3.0/doc/man/prologdb.5
src/main/resources/WordNet-3.0/doc/man/morphy.7
src/main/resources/WordNet-3.0/doc/man/morph.3
src/main/resources/WordNet-3.0/doc/man/lexnames.5
src/main/resources/WordNet-3.0/doc/man/grind.1
src/main/resources/WordNet-3.0/doc/man/cntlist.5
src/main/resources/WordNet-3.0/doc/man/binsrch.3
src/main/resources/WordNet-3.0/doc/man/Makefile.in
src/main/resources/WordNet-3.0/doc/man/Makefile.am
src/main/resources/WordNet-3.0/doc/man/Makefile
src/main/resources/WordNet-3.0/doc/html/wnutil.3WN.html
src/main/resources/WordNet-3.0/doc/html/wnstats.7WN.html
src/main/resources/WordNet-3.0/doc/html/wnsearch.3WN.html
src/main/resources/WordNet-3.0/doc/html/wnpkgs.7WN.html
src/main/resources/WordNet-3.0/doc/html/wnlicens.7WN.html
src/main/resources/WordNet-3.0/doc/html/wnintro.7WN.html
src/main/resources/WordNet-3.0/doc/html/wnintro.5WN.html
src/main/resources/WordNet-3.0/doc/html/wnintro.3WN.html
src/main/resources/WordNet-3.0/doc/html/wnintro.1WN.html
src/main/resources/WordNet-3.0/doc/html/wninput.5WN.html
src/main/resources/WordNet-3.0/doc/html/wngroups.7WN.html
src/main/resources/WordNet-3.0/doc/html/wngloss.7WN.html
src/main/resources/WordNet-3.0/doc/html/wndb.5WN.html
src/main/resources/WordNet-3.0/doc/html/wnb.1WN.html
src/main/resources/WordNet-3.0/doc/html/wn.1WN.html
src/main/resources/WordNet-3.0/doc/html/uniqbeg.7WN.html
src/main/resources/WordNet-3.0/doc/html/senseidx.5WN.html
src/main/resources/WordNet-3.0/doc/html/prologdb.5WN.html
src/main/resources/WordNet-3.0/doc/html/morphy.7WN.html
src/main/resources/WordNet-3.0/doc/html/morph.3WN.html
src/main/resources/WordNet-3.0/doc/html/lexnames.5WN.html
src/main/resources/WordNet-3.0/doc/html/grind.1WN.html
src/main/resources/WordNet-3.0/doc/html/cntlist.5WN.html
src/main/resources/WordNet-3.0/doc/html/binsrch.3WN.html
src/main/resources/WordNet-3.0/doc/html/Makefile.in
src/main/resources/WordNet-3.0/doc/html/Makefile.am
src/main/resources/WordNet-3.0/doc/html/Makefile
src/main/resources/WordNet-3.0/doc/Makefile.in
src/main/resources/WordNet-3.0/doc/Makefile.am
src/main/resources/WordNet-3.0/doc/Makefile
